.container {
  width: 600px;
  padding:20px;
  margin: 0 auto;
}

/* main select container */
.timePickerSelectContainer {
  display: flex;
  align-items: center;
  position: relative;
  height:calc(1.5em + .75rem + 2px);
  border-radius: 50px;
  box-shadow: inset 2px 1000px 1px #fff, 2px 4px 4px rgb(0 0 0 / 10%);
  border: 1px solid transparent;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#37313c,#37313c); /* outline */
  cursor:pointer;
}

.timePickerisActiveSelectContainer {
  border: 2px solid transparent;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#ffd465,#ffb800);
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 1px #fff, 2px 4px 4px rgb(0 0 0 / 10%);
}

/* hours and minutes menu */
.timePickerMenu {
  height: 67px;
  width:100%;
  top:50px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.timePickerRow {
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.timePickerCol {
  display: flex;
  flex-direction: column;
}
.timePickerSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0 20px;
  width: 100%;
}
.timePickerPlaceholderText {
  font-size: 16px;
  color: #9a9a9a;
}
.timePickerLabel {
  font-size: 13px;
  font-weight: 700;
  color: #9a9a9a;
  text-align: center;
}

/* hours and minutes select */
.timePickerHoursMinutesSelect {
  position:relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  padding:5px;
  height: 24px;
  min-width: 53px;
  min-height: 27px;
  cursor:pointer;
  border: 1px solid #F3F3F3;
}
.timePickerHoursMinutesSelectValue{
  text-align: center;
}
.timePickerHoursMinsSelect > * {
  display: flex;
}
.timePickerisActiveSelect {
  border: 2px solid transparent;
  background-image: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0)),linear-gradient(101deg,#ffd465,#ffb800);
  background-origin: border-box;
  background-clip: content-box,border-box;
  box-shadow: inset 2px 1000px 1px #fff, 2px 4px 4px rgb(0 0 0 / 10%);
}

/*hours and minutes option menu */
.timePickerOptionMenu {
  position: absolute;
  height: 143px;
  overflow-y: scroll;
  border-radius: 6px;
  top: 75px;
  width: 65px;
  background-color: #fff;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 10%);
  padding: 10px;
  box-sizing: border-box;
}
.timePickerOptionMenuItem{
  display: block;
  cursor: pointer;
}
.timePickerOptionMenuItem:hover{
  background-color: #FFF1C1;
}
.timePickerOptionMenu::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #9A9A9A80;
}
/* scroll width */
.timePickerOptionMenu::-webkit-scrollbar {
  width: 4px;
}
/* scroll Track */
.timePickerOptionMenu::-webkit-scrollbar-track {
  background: transparent;
}

